body {   
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #B5A69E;
}

div.navbar-inverse {
    background-color: #918A86;
}

li.logged_cinEmployee > p {
    padding: 15px 0 0 0;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #2CC72E;
}

div.pag_footer > p {
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 15px 0 0 0;
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #78726E;
}

h2 {
    margin-top: 100px;
    margin-left: 430px;
    font-family: Helvetica;
    color: #856F3C;
}

h2.cinEmployee_title {
    margin-top: 100px;
    margin-left: 420px;
    font-family: Helvetica;
    color: #856F3C;
}

h2.cinTicket_title {
    margin-top: 100px;
    margin-left: 335px;
    font-family: Helvetica;
    color: #856F3C;
}

tr > th {
    border: 2px solid #FFF;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-color: #325A87;
}

tr > td {
    border: 2px solid #FFF;
    text-align: center;
    color: #FFF;
    background-color: #356CAB;
}

h2.login_title {
    margin-top: 200px;
    margin-left: 90px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.create_title {
    margin-top: 150px;
    margin-left: 80px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.createCinScreening_title {
    margin-top: 150px;
    margin-left: 50px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.createCinEmployee_title {
    margin-top: 110px;
    margin-left: 40px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.createCinTicket_title {
    margin-top: 80px;
    margin-left: 90px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.editCinHall_title {
    margin-top: 150px;
    margin-left: 95px;
    font-family: Helvetica; 
    color: #5C423E;
}

h2.editCinMovie_title {
    margin-top: 150px;
    margin-left: 105px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.editCinScreening_title {
    margin-top: 150px;
    margin-left: 65px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.editCinEmployee_title {
    margin-top: 110px;
    margin-left: 55px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.deleteCinMovie_title {
    margin-top: 150px;
    margin-left: 95px;
    font-family: Helvetica;
    color: #5C423E;
}

h2.deleteCinEmployee_title {
    margin-top: 110px;
    margin-left: 50px;
    font-family: Helvetica;
    color: #5C423E;
}

label {
    font-family: Helvetica;
    color: #5C423E;
}

input, select {
    max-width: 280px;   
}